*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: none;
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --colo-primart:#20251B;
    --text-color:black;
    --color-bg: rgb(236, 236, 236);
    --color-card:white;
    --color-soft: #aaaaaa;
   --color-border: lightgray;
    --color-red:#1C0E01;

}

.container{
    max-width: 991px;
    width: 100%;
    margin: 0 auto;
}
h1,h2,h3,h4,h5{
    font-weight: 600;
    color: var(--text-color);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user img{
    width: 33px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.user h4{
    color: var(--colo-primart);
}
body{
    background: var(--color-bg);
    color: var(--color-soft);
   
}
.tme{
    width: 30%;
       margin-left: 30px;
}
small,p{
    color: var(--color-soft);
}
.btn{
    padding: .6rem 1.6rem;
    display: inline-block;
    width: fit-content;
    cursor: pointer;
    border-radius: .5rem;
    font-size: .9rem;
    font-weight: 500;
    border: none;
    transition: .3s ease;
}
.btn:hover{
    opacity: .7;
}
.btn-primary{
    background: #566546;
}
.btn-red{
    background: var(--color-red);
    color: white;
}

.Signup{
    background: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.Signup .card{
    display: flex;
    flex-direction: row-reverse;
    width: 580px;
    background: white;
    border: 1px solid white;
    border-radius: 2rem;
    overflow: hidden;
  
}
.Signup .card .left p{
    font-size: .9rem;
}
.Signup .card .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

}
.Signup h2{
    color: var(--colo-primart);
}
.Signup .card span{
    color: var(--colo-primart);
}
.Signup .card .right{
    flex: 1;
    background: var(--colo-primart);
    display: flex;
    align-items: center;
    justify-content: center;
 flex-direction: column;
 gap: 10px;
}
.Signup form input {
    padding: 1rem 0;
    width: 90%;
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom: 1px solid #282E22;
    margin:0 auto;
    color: white;
   
}
.Signup form input::placeholder{
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
}
.Signup .btn{
    color: var(--colo-primart);
    margin-top:1rem;
}










@media (max-width:600px){
    .Signup .card{
        width: 90%;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .Signup .card .right{
        padding: 20px 0;
    }
}